* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body {
    background-color: #1F2937;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

.container {
    width: 550px;
    margin: 0 auto;
    padding: 118px 52px;
}

.text-white {
    color: #FFFFFF;
}

.text-green {
    color: #55F991;
}

h1 {
    font-family: Karla, sans-serif;
    font-size: 40px;
}

h2 {
    color: #D5D4D8;
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
}

.generate-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 9px 17px 9px 15px;
    margin-top: 50px;

    width: 223px;
    height: 42px;

    background: #10B981;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.generate-btn:hover {
    cursor: pointer;
}

.logo-wrap {
    height: 18px;
    width: 14px;
}

.logo-wrap img {
    width: 100%;
}

.generate-text {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

hr {
    border: 1px solid #2F3E53;
    margin-top: 35px;
}

.input-wrapper {
    margin-top: 35px;
}

input {
    width: 211px;
    height: 39px;

    background: #273549;
    border: none;
    border-radius: 6px; 
}

input::placeholder {
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 20px;
}

input[value] {
    font-weight: 500;
    font-size: 16px;

    text-align: center;

    color: #55F991;
    outline: none;
}

.left {
    margin-right: 19px;
}

.bottom {
    margin-top: 27px;
}

.long {
    margin-top: 20px;
    margin-left: auto;
}